<script type="text/ng-template" id="bookModal.html">

      <div class="modal-header">
        <button type="button" class="close" ng-click="$close()">&times;</button>
        <h4 class="modal-title">{{ editingBook.title }}</h4>
      </div>
      <div class="modal-body">

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post">
      <input type="hidden" id="bookID" name="bookID" ng-model="editingBook.bookID">
     <div class="form-group {{ editingBookData.title_error ? 'has-error' : '' }}">
      <label class="control-label " for="title">
       Title
      </label>
      <input class="form-control" id="title" name="title" type="text" ng-model="editingBookData.title"/>
     </div>
     <div class="form-group {{ editingBookData.author_error ? 'has-error' : '' }}">
      <label class="control-label " for="author">
       Author
      </label>
      <input class="form-control" id="author" name="author" type="text" ng-model="editingBookData.author"/>
     </div>
     <div class="form-group {{ editingBookData.description_error ? 'has-error' : '' }}">
      <label class="control-label " for="description">
       Description
      </label>
      <textarea class="form-control" id="description" name="description" type="text" ng-model="editingBookData.description" style="max-width:100%"></textarea>
     </div>
     <div class="form-group {{ editingBookData.price_error ? 'has-error' : '' }}">
      <label class="control-label " for="price">
       Price
      </label>
      <input class="form-control" id="price" name="price" type="text" ng-model="editingBookData.price"/>
     </div>
     <div class="form-group">
      <div>
       <button ng-if="editingBook.bookID != -1" class="btn btn-primary " ng-click="editBook()" name="submit" type="submit">Edit book</button>
       <button ng-if="editingBook.bookID == -1" class="btn btn-primary " ng-click="addBook()" name="submit" type="submit">Add book</button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
      </div>


</script>