<!-- Modal -->
<div id="userModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ editingUser.title }}</h4>
      </div>
      <div class="modal-body">

        <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
        <div class="bootstrap-iso">
         <div class="container-fluid">
          <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
            <form method="post" name="userForm">
              <input type="hidden" id="userID" name="userID" ng-model="editUserData.userID">
             <div class="form-group {{formHelper.validateInput(editUserData.fname, userForm.fname.$valid, true)}}">
              <label class="control-label " for="fname">
               First name
              </label>
              <input class="form-control" id="fname" name="fname" ng-model="editUserData.fname" type="text" input-length="3;20" tooltip-enable="{{!userForm.fname.$valid}}" uib-tooltip="Invalid input length. "/>
             </div>
             <div class="form-group {{formHelper.validateInput(editUserData.lname, userForm.lname.$valid, true)}}">
              <label class="control-label " for="lname">
               Last name
              </label>
              <input class="form-control" id="lname" name="lname" ng-model="editUserData.lname" type="text" input-length="3;20" tooltip-enable="{{!userForm.lname.$valid}}" uib-tooltip="Invalid input length. "/>
             </div>
             <div class="form-group {{formHelper.validateInput(editUserData.username, userForm.username.$valid, true)}}">
              <label class="control-label " for="username">
               Username
              </label>
              <input class="form-control" id="username" name="username" ng-model="editUserData.username" type="text" input-length="5;20" tooltip-enable="{{!userForm.username.$valid}}" uib-tooltip="Invalid input length. "/>
             </div>
             <div class="form-group {{formHelper.validateInput(editUserData.password, userForm.password.$valid, true)}}">
              <label class="control-label " for="password">
               Password
              </label>
              <input class="form-control" id="password" name="password" ng-model="editUserData.password" type="text" input-length="8;50" tooltip-enable="{{!userForm.password.$valid}}" uib-tooltip="Invalid input length. "/>
             </div>
             <div class="form-group {{formHelper.validateInput(editUserData.amount, userForm.amount.$valid, true)}}">
              <label class="control-label " for="amount">
               Amount
              </label>
              <input class="form-control" id="amount" name="amount" ng-model="editUserData.amount" type="text" input-size="0;500" tooltip-enable="{{!userForm.amount.$valid}}" uib-tooltip="Invalid input size. "/>
             </div>
             <div class="form-group">
              <div>
               <button ng-if="editUserData.userID != -1" class="btn btn-primary " ng-click="editUser()" name="submit" type="submit">Edit user</button>
               <button ng-if="editUserData.userID == -1" class="btn btn-primary " ng-click="addUser()" name="submit" type="submit">Add user</button>
              </div>
             </div>
            </form>
           </div>
          </div>
         </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>