<nav class="navbar navbar-default" ng-controller="navbarContr">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">{{appTitle}}</a>
		</div>
		<ul class="nav navbar-nav">
			<li ng-repeat="navLink in arrNavLinks" class="{{navLink.active}}">
				<a ui-sref="{{navLink.uri}}" ng-click="highlightTitle(navLink.title)">{{ navLink.title }}</a>
			</li>
		</ul>

		<p class="navbar-text navbar-right" ng-show="userBarShown" style="margin-right:10px">
			Welcome <b>{{ fname + ' ' + lname }}</b>! 
			<a style="cursor:pointer;">Account settings <span class="glyphicon glyphicon-edit"></span></a> 
			<a ng-click="logout()" style="cursor:pointer;">Logout <span class="glyphicon glyphicon-off"></span></a>
		</p>
	</div>
</nav>