<div ng-controller="bookContr" style="width: 60%; margin: 0 auto;">
	<h2>Books</h2>
	<search-options filters="title=Title;author=Author;description=Description;price=Price" searchfunct="displayBooks" />
	<h4 ng-hide="books !== null">There are no books to display. </h4>
	<table class="table table-bordered" ng-hide="books == null">
		<tbody>
			<tr ng-repeat-start="book in books">
				<th>Title</th>
				<td><highlight-keywords watch="book.title" filter="title">{{ book.title }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Author</th>
				<td><highlight-keywords watch="book.author" filter="author">{{ book.author }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><highlight-keywords watch="book.description" filter="description">{{ book.description }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Price</th>
				<td>${{ book.price }}</td>
			</tr>
			<tr>
				<th>Copies</th>
				<td>{{ book.copies }}</td>
			</tr>
			<tr ng-repeat-end="">
				<td colspan="2">
					<button type="button" class="btn btn-primary" ng-click="setManagingBookInfo(book.book_id, book.title, book.author); openBookModal()"><span class="glyphicon glyphicon-edit"></span></button>
					
					<button type="button" class="btn btn-primary" uib-popover-template="popover.deleteBookTemplateUrl" ng-click="bookToDeleteID = book.book_id; targetDelBookCopyNum = book.copies" popover-placement="{{popover.popoverPlacement}}" popover-trigger="outsideClick"><span class="glyphicon glyphicon-remove-circle"></span></button>
					
					<button type="button" class="btn btn-primary" ng-click="bookCopiesToAddID = book.book_id" uib-popover-template="popover.addBookCopiesTemplateUrl" popover-placement="{{popover.popoverPlacement}}" popover-trigger="outsideClick">Add copies</button>
					
					<button type="button" class="btn btn-primary" data-toggle="modal" ng-click="displayBookCopies(book.book_id, book.title)" data-target="#bookCopiesModal">Remove copies</button>
				</td>
			</tr>
		</tbody>
	</table>

	<results-found value="{{ pagination.totalItems }}"></results-found>

	<button data-toggle="modal" data-target="#bookModal" ng-click="setManagingBookInfo(-1); openBookModal()" type="button" class="btn btn-primary" ng-disabled="searchOptions.searchMode">Add book</button><br />

	<uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" ng-change="pagination.onPageChange()"></uib-pagination>

	<script type="text/ng-template" id="deleteBookTemplateUrl.html">
		<div style="text-align:center;">
			<p ng-if="targetDelBookCopyNum >= 1">
				Are you sure you want to delete this book?
				<span ng-if="targetDelBookCopyNum > 1">There are <b>{{ targetDelBookCopyNum }}</b> copies of the book left. </span>
				<span ng-if="targetDelBookCopyNum === 1">There is <b>{{ targetDelBookCopyNum }}</b> copy of the book left. </span>
			</p>
			<button type="button" ng-click="deleteBook()" class="btn btn-danger">Delete book?</button>
		</div>
	</script>

	<script type="text/ng-template" id="addBookCopiesTemplateUrl.html">
		<form>
			<div class="form-group">
				<label>Book copies to add:</label> 
				<input type="text" class="form-control" ng-model="bookAmountToAdd"> 
			</div>
			<div class="form-group">
				<button type="button" ng-click="addBookCopies()" class="btn btn-primary">Add book copies?</button>
			</div>
		</form>
	</script>

	<div data-ng-include src="modals.bookModal"></div>
	<div data-ng-include src="modals.bookCopiesModal"></div>
</div>