<div ng-controller="cartContr" style="width: 60%; margin: 0 auto;">
	<p ng-hide="books !== null">There are no books in your cart. </p>
	<table class="table table-bordered" ng-hide="books == null">
		<tbody>
			<tr ng-repeat-start="book in books">
				<th>Title</th>
				<td>{{ book.title }}</td>
			</tr>
			<tr>
				<th>Author</th>
				<td>{{ book.author }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ book.description }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>${{ book.price }}</td>
			</tr>
			<tr>
				<th>Copies in cart</th>
				<td>{{ book.copiesInCart }}</td>
			</tr>
			<tr ng-repeat-end="">
				<td colspan="2">
					<button type="button" class="btn btn-primary" ng-click="removeFromCart(book.book_id)">Remove from cart</button>
				</td>
			</tr>
		</tbody>
	</table>

	<p><b>Results found: {{ pagination.totalItems }}</b></p>

	<h3>Current balance: ${{ balance }}</h3>
	
	<uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" ng-change="pagination.onPageChange()"></uib-pagination>
</div>