<div ng-controller="cartContr">
	<h2>Cart</h2>
	<search-options filters="title=Title;author=Author;description=Description;price=Price" searchfunct="getBooksFromCart" />
	<h4 ng-hide="books.length !== 0">There are no books in your cart. </h4>
	<table class="table table-bordered">
		<tbody>
			<tr ng-repeat-start="book in books">
				<th>Title</th>
				<td><highlight-keywords watch="book.title" filter="title">{{ book.title }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Author</th>
				<td><highlight-keywords watch="book.author" filter="author">{{ book.author }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><highlight-keywords watch="book.description" filter="description">{{ book.description }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Price</th>
				<td>${{ book.price }}</td>
			</tr>
			<tr>
				<th>Copies in cart</th>
				<td>{{ book.copiesInCart }}</td>
			</tr>
			<tr ng-repeat-end="">
				<td colspan="2">
					<button type="button" class="btn btn-primary" ng-click="removeFromCart(book.book_id)">Remove from cart</button>
				</td>
			</tr>
		</tbody>
	</table>

	<results-found value="{{ pagination.totalItems }}"></results-found>
	<current-balance value="{{ balance }}"/>
	
	<uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" ng-change="pagination.onPageChange()"></uib-pagination>
</div>