<div ng-controller="catalogueContr" style="width: 60%; margin: 0 auto;">
	<h2>Catalogue</h2>
	<search-options filters="title=Title;author=Author;description=Description;price=Price" searchfunct="getCatalogue" />
	<p ng-hide="books !== null">There are no books in this catalogue. </p>
	<table class="table table-bordered" ng-hide="books == null">
		<tbody>
			<tr ng-repeat-start="book in books">
				<th>Title</th>
				<td><highlight-keywords watch="book.title" filter="title">{{ book.title }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Author</th>
				<td><highlight-keywords watch="book.author" filter="author">{{ book.author }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><highlight-keywords watch="book.description" filter="description">{{ book.description }}</highlight-keywords></td>
			</tr>
			<tr>
				<th>Price</th>
				<td>${{ book.price }}</td>
			</tr>
			<tr>
				<th>Copies left</th>
				<td>{{ book.availCopyNum }}</td>
			</tr>
			<tr ng-repeat-end="">
				<td colspan="2">
					<button type="button" class="btn btn-primary" ng-click="addToCart(book.book_id)" ng-disabled="book.availCopyNum === 0 || !canAfford(book)">
						<span ng-if="canAfford(book)">
							Add to cart
						</span>
						<span ng-if="!canAfford(book)">
							Can't afford
						</span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<results-found value="{{ pagination.totalItems }}" />
	<current-balance value="{{ balance }}"/>

	<uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" ng-change="pagination.onPageChange()"></uib-pagination>
</div>