<div ng-controller="userContr">
	<h2>Users</h2>
	<h4 ng-hide="users !== null">There are no users to display. </h4>
	<table class="table" ng-hide="users == null">
		<thead>
			<tr>
				<th ng-repeat="data in metadata">{{ data }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{ user.fname }}</td>
				<td>{{ user.lname }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.password }}</td>
				<td>{{ user.amount }}</td>
				<td><button type="button" class="btn btn-primary" ng-click="setManagingUserInfo(user.user_id, user.fname, user.lname); openUserModal()"><span class="glyphicon glyphicon-edit"></span></button></td>
				<td><button type="button" class="btn btn-primary" uib-popover-template="popover.deleteUserTemplateUrl" ng-click="userToDeleteID = user.user_id" popover-placement="{{popover.deleteUserPlacement}}" popover-trigger="outsideClick"><span class="glyphicon glyphicon-remove-circle"></span></button></td>
			</tr>
		</tbody>
	</table>

	<results-found value="{{ pagination.totalItems }}"></results-found>
	
	<button ng-click="setManagingUserInfo(-1)" type="button" class="btn btn-primary">Add user</button><br />

	<uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" ng-change="pagination.onPageChange()"></uib-pagination>

	<script type="text/ng-template" id="deleteUserTemplateUrl.html">
		<button type="button" ng-click="deleteUser()" class="btn btn-danger">Delete user?</button>
	</script>

	<div data-ng-include src="modals.userModal"></div>
</div>