<div ng-controller="userContr"  class="centerContent">
	<h2>Users</h2>
	<search-options filters="fname=First name;lname=Last name;username=Username;amount=Amount" searchfunct="displayUsers" />
	<h4 ng-hide="users.length !== 0">There are no users to display. </h4>
	<table class="table" ng-show="users.length !== 0">
		<thead>
			<tr>
				<th ng-repeat="data in metadata">{{ data }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td><highlight-keywords watch="user.fname" filter="fname">{{ user.fname }}</highlight-keywords></td>
				<td><highlight-keywords watch="user.lname" filter="lname">{{ user.lname }}</highlight-keywords></td>
				<td><highlight-keywords watch="user.username" filter="username">{{ user.username }}</highlight-keywords></td>
				<td>{{ user.amount }}</td>
				<td>{{ user.is_admin == 0 ? 'No' : 'Yes' }}</td>
				<td><button type="button" class="btn btn-primary" ng-click="openUserModal(user.user_id, user.fname, user.lname)" ng-disabled="searchOptions.searchMode"><span class="glyphicon glyphicon-edit"></span></button></td>
				<td><button type="button" class="btn btn-primary" uib-popover-template="popover.deleteUserTemplateUrl" ng-click="userToDeleteID = user.user_id" popover-placement="{{popover.deleteUserPlacement}}" popover-trigger="outsideClick" ng-disabled="searchOptions.searchMode"><span class="glyphicon glyphicon-remove-circle"></span></button></td>
			</tr>
		</tbody>
	</table>

	<results-found value="{{ pagination.totalItems }}"></results-found>
	
	<button ng-click="openUserModal(null)" type="button" class="btn btn-primary" ng-disabled="searchOptions.searchMode">Add user</button><br />

	<uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" ng-change="pagination.onPageChange()"></uib-pagination>

	<script type="text/ng-template" id="deleteUserTemplateUrl.html">
		<button type="button" ng-click="deleteUser()" class="btn btn-danger">Delete user?</button>
	</script>

	<div data-ng-include src="modals.userModal"></div>
</div>